# Estruturas de dados e sequencias
*Tupla*

In [1]:
tup = 4, 5, 6

print(tup)

(4, 5, 6)

*Tupla de tuplas*

In [2]:
nested_tup = (4, 5, 6), (7, 8) 
print(nested_tup)

((4, 5, 6), (7, 8))

*Convertendo sequencia ou iterador em tupla*

In [9]:
print(tuple([4, 0, 2]))

tup = (tuple('string'))

print(tup)

print(tup[0])

(4, 0, 2)
('s', 't', 'r', 'i', 'n', 'g')
s

*Depois de criada, não é possivel modifical qualquer objeto armazennado em cada posição*

In [14]:
new_tup = tuple(['foo', [1, 2], True])

new_tup[2] = False

TypeError: 'tuple' object does not support item assignment

*Objetos mutaveis, como uma lista, pode ser modificado in-place*

In [15]:
new_tup[1].append(3)

print(new_tup)

('foo', [1, 2, 3], True)

*Concatenando tuplas usando o operador +*

In [17]:
print((4, None, 'foo') + (6, 0) + ('bar',))

(4, None, 'foo', 6, 0, 'bar')

*Multiplicar tuplas para concatenar*

In [18]:
print(('foo', 'bar') * 4)

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

*Desempacotando / Desestruturando tuplas*

In [22]:
tup = (4, 5, 6)

a, b, c = tup

print(b)

5

*Desestruturando sequencias de tuplas aninhadas*

In [23]:
tup = 4, 5, (6, 7)

a, b, (c, d) = tup

print(d)

7

*Trocar nomes de variaveis (fazer swap)*

In [24]:
tmp = a 

a = b

b = tmp

b

4

*Em python, pode ser feita assim*

In [27]:
a, b = 1, 2

print(a)
print(b)

b, a = a, b

print(a)
print(b)

1
2
2
1

*Uso comum de desestruturação, na iteração por sequencias ou listas*

In [28]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

*Retirar alguns elementos do inicio da tupla. Sintaxe *rest*

In [30]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

print(a, b)

print(rest)

1 2
[3, 4, 5]

*Metodos de tupla*

In [32]:
a = (1, 2, 2, 2, 3, 4, 2)

print(a.count(2))

4

# Listas

In [43]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')

b_list = list(tup)

print(b_list)

b_list[1] = 'peekaboo'

print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [36]:
gen = range(10)

print(gen)

print(list(gen))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

*Adicionando e removendo elementos*

Concatenando no final da lista, metodo append

In [44]:
b_list.append('dwarf')

print(b_list)

['foo', 'peekaboo', 'baz', 'dwarf']

*Inserindo elemento em local especifico com o metodo insert*

In [45]:
b_list.insert(1, 'red')

print(b_list)

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

*Removento elementos com o metodo pop*

In [46]:
print(b_list.pop(2))

print(b_list)

peekaboo
['foo', 'red', 'baz', 'dwarf']

*Removendo elementos pelo valos com o remove (localiza o primeiro valor e remove)*

In [55]:
b_list.append('foo')

print(b_list)

['foo', 'red', 'baz', 'dwarf', 'foo']

In [56]:
b_list.remove('foo')

print(b_list)

['red', 'baz', 'dwarf', 'foo']

*Verificar se uma lista contem um valor utilizando o "in"*

In [57]:
print('dwarf' in b_list)

True

*Negando "in" com "not"*

In [58]:
print('dwarf' not in b_list)

False

*Concatenando e combinando listas*

In [1]:
ls = [4, None, 'foo'] + [7, 8, (2, 3)]
print(ls)

[4, None, 'foo', 7, 8, (2, 3)]

*Method extend*

In [7]:
x = [4, None, 'foo']

x.extend([7, 8, (2, 3)])

print(x)

[4, None, 'foo', 7, 8, (2, 3)]

Concatenação de listas por adição, uma nova lista é criada e os objetos são copiados.

*De preferência, usar extend para concatenar listas*

Assim é mais rapido

In [20]:
list_of_lists = [[110, 20, 'gato'], ['cachorro', 'teste' == 'teste1', True, False]]

everything = []

for chunk in list_of_lists:
    everything.extend(chunk)
    print(everything)

[110, 20, 'gato']
[110, 20, 'gato', 'cachorro', False, True, False]

Assim é mais lento

In [26]:
list_of_lists = [[110, 20, 'gato'], ['cachorro', 'teste' == 'teste1', True, False]]

everything = []

for chunk in list_of_lists:
    everything = everything + chunk
    print(everything)

[110, 20, 'gato']
[110, 20, 'gato', 'cachorro', False, True, False]

#### *Ordination*

##### Ordination in-place with sort function

In [27]:
a = [7, 2, 5, 1, 3]

a.sort()

print(a)

[1, 2, 3, 5, 7]

*Options of sort*

In [28]:
b = ['saw', 'small', 'he', 'foxes', 'six']

b.sort(key=len)

print(b)

['he', 'saw', 'six', 'small', 'foxes']

Binary search and sorted list maintenance

*bisect.bsect and bisect.insort*

In [30]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

print(bisect.bisect(c, 2))

bisect.insort(c, 6)

print(c)

4
[1, 2, 2, 2, 3, 4, 6, 7]

Slicing

*We can select sections of most sequence types using slicing*

In [3]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

print(seq[1:5])

seq[3:4] = [6, 3]

print(seq)

[2, 3, 7, 5]
[7, 2, 3, 6, 3, 5, 6, 0, 1]

*Omitindo start e stop quando os valores default for o inicio e o fim da sequencia*

In [5]:
print(seq[:5])
print(seq[3:])

[7, 2, 3, 6, 3]
[6, 3, 5, 6, 0, 1]

*Indices negativos*

In [8]:
print(seq[-4:])
print(seq[-6:-2])

[5, 6, 0, 1]
[6, 3, 5, 6]

*step para obter elementos alternados*

In [9]:
print(seq[::2])

[7, 3, 3, 6, 1]

*Um uso conveniente deste recurso é passando -1, que inverte os valores da lista*

In [10]:
print(seq[::-1])

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in functions and sequences

*Enumerate*

In [1]:
some_list = ['foo', 'bar', 'baz']

mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i

print(mapping)

{'foo': 0, 'bar': 1, 'baz': 2}

*Sorted*

In [2]:
data = [7, 1, 2, 6, 0, 3, 2]

data_sorted = sorted(data)

print(data_sorted)

[0, 1, 2, 2, 3, 6, 7]

### zip

*The zip function pairs elements of a series of lists, tuples or other sequences to create a list of tuples*

In [6]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
seq3 = [False, True]

zipped = zip(seq1, seq2)

listed = list(zipped)

print(listed)

listed_2 = zip(seq1, seq2, seq3)

print(list(listed_2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]
[('foo', 'one', False), ('bar', 'two', True)]

In [7]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [8]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'cut')]

first_names, las_names = zip(*pitchers)

print(first_names)

print(las_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'cut')

### reversed

*Reversed iterates through the elements of a sequence in reverse order*

In [9]:
reversed_list = list(reversed(range(10)))

print(reversed_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

*It is probably the most important built-in data structure in Python. It is a collection of flexible-length key-value pairs, where key and value are Python objects.*

In [10]:
empty_dict = {}

d1 = {
    'a': 'some_value', 'b': [1, 2, 3, 4]
}

print(d1)

{'a': 'some_value', 'b': [1, 2, 3, 4]}

*Inserting elements*

In [11]:
d1[7] = 'an integer'

print(d1)

{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer'}

*Accessing elements*

In [12]:
print(d1['b'])

[1, 2, 3, 4]

*Checking elements*

In [13]:
b in d1

False

*Deleting with del and pop methods*

In [19]:
d1[5] = 'some value'

print(d1)

d1['dummy'] = 'another value'

print(d1)

{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}

In [22]:
del d1[5]

print(d1)

{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [20]:
ret = d1.pop('dummy')

print(ret)
print(d1)

another value
{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

*The key and value methods*

In [23]:
keys = list(d1.keys())

print(keys)

['a', 'b', 7]

In [24]:
values = list(d1.values())

print(values)

['some_value', [1, 2, 3, 4], 'an integer']

### update

*We can combine one dictionary with another using the update method*

In [25]:
d1.update(
    {
        'b': 'foo',
        'c': 12
    }
)

print(d1)

{'a': 'some_value', 'b': 'foo', 7: 'an integer', 'c': 12}

### Creating dictionaries from sequences

*Alternative one*

In [26]:
mapping = {}

key_list = [1, 2, 3, 4, 5]
value_list = ['foo', 'bar', 'baz', 'faa', 'zap']

for key, value in zip(key_list, value_list):
    mapping[key] = value

print(mapping)

{1: 'foo', 2: 'bar', 3: 'baz', 4: 'faa', 5: 'zap'}

*Alternative two*

In [27]:
mapping = dict(zip(range(5), reversed(range(5))))

print(mapping)

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### Default Values

*It is very common to have a logic like this*

In [1]:
some_dict = {
    'nome': 'Jonas',
    'sobrenome': 'Carvalho',
    'idade': 36
}

default_value = 'Pedro'

if 'nome' in some_dict:
    value = some_dict['nome']
else:
    value = default_value

print(value)

Jonas

*Using get and pop dictionary methods*

In [2]:
value = some_dict.get('nome', default_value)

print(value)

Jonas

In [8]:
words = ['apple', 'bat', 'waine', 'atom', 'book', 'world', 'abba']

by_letter ={}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

print(by_letter)

{'a': ['apple', 'atom', 'abba'], 'b': ['bat', 'book'], 'w': ['waine', 'world']}

*With setdefault method*

In [7]:
for word in words:
    letter = word[0]
    by_letter.setdefault('letter', []).append(word)

print(by_letter)

{'a': ['apple', 'atom', 'abba'], 'b': ['bat', 'book'], 'w': ['waine', 'world'], 'letter': ['apple', 'bat', 'waine', 'atom', 'book', 'world', 'abba']}

*With method Using the built-in collections module, defaultdict class*

In [10]:
from collections import defaultdict

by_letter = defaultdict(list)

print(by_letter)

for word in words:
    by_letter[word[0]].append(word)

print(by_letter)

defaultdict(<class 'list'>, {})
defaultdict(<class 'list'>, {'a': ['apple', 'atom', 'abba'], 'b': ['bat', 'book'], 'w': ['waine', 'world']})

### Valid key types for dictionary

*hashability*

In [22]:
print(hash('string'))
print(hash((1, 2, (2, 3))))

hash((1, 2, [2, 3])) #Failed because lists are immutable

-4551699750459711859
-9209053662355515447

TypeError: unhashable type: 'list'

*Converting list to tuple to be used as key in a dictionary*

In [23]:
d = {}

d[tuple([1, 2, 3])] = 5

print(d)

{(1, 2, 3): 5}

### Set

In [3]:
print(set([2, 2, 2, 1, 3, 3]))

print({2, 2, 2, 1, 3, 3})

{1, 2, 3}
{1, 2, 3}

*Set math operations*

*Union*

In [4]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

print(a.union(b))
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

*Intersection*

In [6]:
print(a.intersection(b))
print(a & b)

{3, 4, 5}
{3, 4, 5}

*Other set methods*

In [8]:
a.add(9)

print(a)

{1, 2, 3, 4, 5, 9}

In [13]:
c = {2, 3, 5, 7}
c.clear()

print(c)

c.add(1)
c.add(2)

print(c)

c.remove(1)

print(c)

set()
{1, 2}
{2}

In [22]:
d = {2, 3, 4, 5, 7, 8, 9}

d.pop()

print(d)

{3, 4, 5, 7, 8, 9}

In [33]:
d = {1, 2, 3}
e = {4, 5, 6, 2, 3}

d.intersection_update(e)

print(d)

{2, 3}
{2, 3}

In [59]:
d = {1, 2, 3}
e = {4, 5, 6, 2, 3}

d &= e

print(d)

{2, 3}

In [37]:
f = {2, 1, 2}
g = {3, 2, 1}

f.update(g)

print(f)

{1, 2, 3}

In [60]:
f = {2, 1, 2}
g = {3, 2, 1}

f |=g

print(f)

{1, 2, 3}

In [45]:
ab = {2, 3, 4, 5, 6}
cd = {2, 4, 1, 7, 6, 8}

print(ab.difference(cd))
print(ab - cd)

{3, 5}
{3, 5}

In [57]:
de = {2, 3, 4, 5, 6}
ed = {2, 4, 1, 7, 6, 8}

de.difference_update(ed)

print(de)

{3, 5}

In [56]:
de = {2, 3, 4, 5, 6}
ed = {2, 4, 1, 7, 6, 8}

de -= ed

print(de)

{3, 5}

In [61]:
de = {2, 3, 4, 5, 6}
ed = {2, 4, 1, 7, 6, 8}

de.symmetric_difference(ed)

print(de)

{2, 3, 4, 5, 6}

In [62]:
de = {2, 3, 4, 5, 6}
ed = {2, 4, 1, 7, 6, 8}

de ^ ed

print(de)

{2, 3, 4, 5, 6}

In [55]:
de = {2, 3, 4, 5, 6}
ed = {2, 4, 1, 7, 6, 8}

de.symmetric_difference_update(ed)

print(de)

{1, 3, 5, 7, 8}

In [54]:
de = {2, 3, 4, 5, 6}
ed = {2, 4, 1, 7, 6, 8}

de ^= ed 

print(de)

{1, 3, 5, 7, 8}

In [63]:
de = {2, 3, 4, 5, 6}
ed = {2, 4, 1, 7, 6, 8}

print(de.issubset(ed))

False

In [64]:
de = {2, 3, 4, 5, 6}
ed = {2, 3, 4, 5, 6, 7, 9, 8}

print(de.issubset(ed))

True

In [65]:
de = {2, 3, 4, 5, 6}
ed = {2, 4, 1, 7, 6, 8}

print(de.issuperset(ed))

False

In [66]:
de = {2, 3, 4, 5, 6}
ed = {2, 3, 4, 5, 6, 7, 9, 8}

print(de.issubset(ed))

True

In [67]:
de = {2, 3, 4, 5, 6}
ed = {2, 3, 4, 5, 6, 7, 9, 8}

print(de.isdisjoint(ed))

False

In [68]:
de = {12, 23, 34, 45, 56}
ed = {2, 3, 4, 5, 6, 7, 9, 8}

print(de.isdisjoint(ed))

True

In [70]:
k = {1, 2, 5, 9, 8, 7, 6}
l = {2, 3, 5, 4}

m = k.copy()

m |= l

print(m)

n = k.copy()

n &= l

print(n)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 5}

In [71]:
my_data = [1, 2, 3, 4]

my_set = {tuple(my_data)}

print(my_set)

{(1, 2, 3, 4)}

In [72]:
a_set = {1, 2, 3, 4, 5}

print({1, 2, 3}.issubset(a_set))

True

In [73]:
print(a_set.issuperset({1, 2, 3}))

True

In [74]:
print({1, 2, 3} == {1, 2, 3})

True

### List, set e dict comprehensions

*List comprehensions*

In [2]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

*Set e dict*

In [3]:
unique_lenghts = {len(x) for x in strings}

print(unique_lenghts)

{1, 2, 3, 4, 6}

*Using map*

In [4]:
print(set(map(len, strings)))

{1, 2, 3, 4, 6}

In [5]:
loc_mapping = {val : index for index, val in enumerate(strings)}
print(loc_mapping)

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

*Nested list comprehensions*

In [6]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pillar']]

name_of_interest = []

for names in all_data:
    enought_es = [name for name in names if name.count('e') >= 2]
    name_of_interest.extend(enought_es)

print(name_of_interest)

['Steven']

*Encapsulating*

In [8]:
result = [name for names in all_data for name in names
            if name.count('e') >= 2]

print(result)

['Steven']

In [9]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

flattened = [x for tup in some_tuples for x in tup]

print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
print([[x for x in tup] for tup in some_tuples])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Fuctions

In [5]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

print(my_function(5, 6, z=0.7))
print(my_function(3.4, 7, 3.5))
print(my_function(10, 20))
print(my_function(x=5, y=6, z=7))
print(my_function(y=6, x=5, z=7))

0.06363636363636363
36.4
45.0
77
77

### Namespace

In [11]:
a = []


def func():
    a = []
    for i in range(5):
        a.append(i)
    print(a)

    # print(a)


def func2():
    a = []
    for i in range(5):
        a.append(i)

print(a)


func()
func2()

[]
[0, 1, 2, 3, 4]

### global

In [12]:
a = None

def bind_a_variable():
    global a 

    a = []

bind_a_variable()

print(a)

[]

### Returning several values

In [14]:
def f():
    a = 5 
    b = 6
    c = 7

    return a, b, c

return_value = f()

a, b, c = f()

print(a, b, c)
print(return_value)

5 6 7
(5, 6, 7)

### Dictionaries

In [15]:
def g():
    a = 5 
    b = 6
    c = 7

    return {
            'a': a, 
            'b': b, 
            'c': c 
        }

values = g()
print(values)

{'a': 5, 'b': 6, 'c': 7}

### Functions are objects and we can do a series of transformations with them

In [16]:
import re

states = ['Alabama', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south    carolina##', 'West virginia?']

def clean_strings(strings):
    result = []
    
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)

    return result

result = clean_strings(strings=states)

print(result)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']

In [18]:
def remove_pontuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_pontuation, str.title]

def clean_strings(strings, ops):
    result = []

    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)

    return result


response = clean_strings(states, clean_ops)
print(response)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']

### Passing functions as parameters

In [30]:
for x in map(remove_pontuation, states):
    z = []
    z.append(x)
    print(z)

['Alabama']
['Georgia']
['Georgia']
['georgia']
['FlOrIda']
['south carolina']
['West virginia']

### Anonymous functions (lambdas)

In [2]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]

print(apply_to_list(ints, lambda x: x * 2))

print([x *2 for x in ints])

[8, 0, 2, 10, 12]
[8, 0, 2, 10, 12]

In [7]:
strings =  ['foo', 'card', 'bar', 'aaaa', 'abab']

strings.sort(key=lambda x: len(set(list(x))))

print(strings)

['aaaa', 'foo', 'abab', 'bar', 'card']

In [28]:
from functools import partial

def add_numbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y)

add_five2 = partial(add_numbers, 5)
print(add_five2(y=5), add_five(y=7))

10 12

### Generators

In [29]:
some_dict = {
    'a': 1,
    'b': 2,
    'c': 3
}

for key in some_dict:
    print(key)

a
b
c

In [43]:
dict_iterator = iter(some_dict)

print(list(dict_iterator))


print(dict_iterator)

for value in dict_iterator:
    print(value)

['a', 'b', 'c']
<dict_keyiterator object at 0x7f14df592ca0>

### Squares

In [53]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

gen = squares()

print(gen)

for x in gen:
    print(x, end=' ')

<generator object squares at 0x7f14df4bdcb0>
Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

### Methods itertools