# Estruturas de dados e sequencias
*Tupla*

In [1]:
tup = 4, 5, 6

print(tup)

(4, 5, 6)

*Tupla de tuplas*

In [2]:
nested_tup = (4, 5, 6), (7, 8) 
print(nested_tup)

((4, 5, 6), (7, 8))

*Convertendo sequencia ou iterador em tupla*

In [9]:
print(tuple([4, 0, 2]))

tup = (tuple('string'))

print(tup)

print(tup[0])

(4, 0, 2)
('s', 't', 'r', 'i', 'n', 'g')
s

*Depois de criada, não é possivel modifical qualquer objeto armazennado em cada posição*

In [14]:
new_tup = tuple(['foo', [1, 2], True])

new_tup[2] = False

TypeError: 'tuple' object does not support item assignment

*Objetos mutaveis, como uma lista, pode ser modificado in-place*

In [15]:
new_tup[1].append(3)

print(new_tup)

('foo', [1, 2, 3], True)

*Concatenando tuplas usando o operador +*

In [17]:
print((4, None, 'foo') + (6, 0) + ('bar',))

(4, None, 'foo', 6, 0, 'bar')

*Multiplicar tuplas para concatenar*

In [18]:
print(('foo', 'bar') * 4)

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

*Desempacotando / Desestruturando tuplas*

In [22]:
tup = (4, 5, 6)

a, b, c = tup

print(b)

5

*Desestruturando sequencias de tuplas aninhadas*

In [23]:
tup = 4, 5, (6, 7)

a, b, (c, d) = tup

print(d)

7

*Trocar nomes de variaveis (fazer swap)*

In [24]:
tmp = a 

a = b

b = tmp

b

4

*Em python, pode ser feita assim*

In [27]:
a, b = 1, 2

print(a)
print(b)

b, a = a, b

print(a)
print(b)

1
2
2
1

*Uso comum de desestruturação, na iteração por sequencias ou listas*

In [28]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

*Retirar alguns elementos do inicio da tupla. Sintaxe *rest*

In [30]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

print(a, b)

print(rest)

1 2
[3, 4, 5]

*Metodos de tupla*

In [32]:
a = (1, 2, 2, 2, 3, 4, 2)

print(a.count(2))

4

# Listas

In [43]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')

b_list = list(tup)

print(b_list)

b_list[1] = 'peekaboo'

print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [36]:
gen = range(10)

print(gen)

print(list(gen))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

*Adicionando e removendo elementos*

Concatenando no final da lista, metodo append

In [44]:
b_list.append('dwarf')

print(b_list)

['foo', 'peekaboo', 'baz', 'dwarf']

*Inserindo elemento em local especifico com o metodo insert*

In [45]:
b_list.insert(1, 'red')

print(b_list)

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

*Removento elementos com o metodo pop*

In [46]:
print(b_list.pop(2))

print(b_list)

peekaboo
['foo', 'red', 'baz', 'dwarf']

*Removendo elementos pelo valos com o remove (localiza o primeiro valor e remove)*

In [55]:
b_list.append('foo')

print(b_list)

['foo', 'red', 'baz', 'dwarf', 'foo']

In [56]:
b_list.remove('foo')

print(b_list)

['red', 'baz', 'dwarf', 'foo']

*Verificar se uma lista contem um valor utilizando o "in"*

In [57]:
print('dwarf' in b_list)

True

*Negando "in" com "not"*

In [58]:
print('dwarf' not in b_list)

False

*Concatenando e combinando listas*

In [1]:
ls = [4, None, 'foo'] + [7, 8, (2, 3)]
print(ls)

[4, None, 'foo', 7, 8, (2, 3)]

*Method extend*

In [7]:
x = [4, None, 'foo']

x.extend([7, 8, (2, 3)])

print(x)

[4, None, 'foo', 7, 8, (2, 3)]

Concatenação de listas por adição, uma nova lista é criada e os objetos são copiados.

*De preferência, usar extend para concatenar listas*

Assim é mais rapido

In [20]:
list_of_lists = [[110, 20, 'gato'], ['cachorro', 'teste' == 'teste1', True, False]]

everything = []

for chunk in list_of_lists:
    everything.extend(chunk)
    print(everything)

[110, 20, 'gato']
[110, 20, 'gato', 'cachorro', False, True, False]

Assim é mais lento

In [26]:
list_of_lists = [[110, 20, 'gato'], ['cachorro', 'teste' == 'teste1', True, False]]

everything = []

for chunk in list_of_lists:
    everything = everything + chunk
    print(everything)

[110, 20, 'gato']
[110, 20, 'gato', 'cachorro', False, True, False]

#### *Ordination*

##### Ordination in-place with sort function

In [27]:
a = [7, 2, 5, 1, 3]

a.sort()

print(a)

[1, 2, 3, 5, 7]

*Options of sort*

In [28]:
b = ['saw', 'small', 'he', 'foxes', 'six']

b.sort(key=len)

print(b)

['he', 'saw', 'six', 'small', 'foxes']

Binary search and sorted list maintenance

*bisect.bsect and bisect.insort*

In [30]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

print(bisect.bisect(c, 2))

bisect.insort(c, 6)

print(c)

4
[1, 2, 2, 2, 3, 4, 6, 7]